<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New Message</h1>
    <form method="POST" action="/new">
      <label for="fname">Name:</label><br>
      <input type="text" name="messageUser" value="John"><br>
      <label for="message">Message:</label><br>
      <textarea rows="4" cols="50" name="messageText">This is my message!</textarea>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
